PY32_Test_ADC_UART/Objects/
PY32_Test_ADC_UART/Listings/
PY32_Test_ADC_UART/RTE/
PY32_Test_LED_Blink/Objects/
PY32_Test_LED_Blink/Listings/
PY32_Test_LED_Blink/RTE/
PY32_devkit/Objects/
PY32_devkit/Listings/
PY32_devkit/RTE/
PY32_devkit/JLinkLog.txt
PY32_MK/Objects/
PY32_MK/Build/
PY32_MK/Libraries/
PY32_MK/.vscode/
PY32_MK/Listings/
PY32_MK/JLinkLog.txt
python/logs/
*.scvd
*.d
*.o
