Checks: >
  cppcoreguidelines-*
  ,-cppcoreguidelines-avoid-magic-numbers  # we'll flag them manually but keep context-friendly
  ,bugprone-boolean-constant
  ,bugprone-suspicious-memset-use
  ,readability-magic-numbers
WarningsAsErrors: ''
HeaderFilterRegex: '.*'
AnalyzeTemporaryDtors: false
FormatStyle: none
CheckOptions:
  - key: readability-magic-numbers.IgnoredIntegerValues
    value: '0,1,-1'
  - key: readability-magic-numbers.IgnoredFloatingPointValues
    value: '0.0,1.0'